html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* delete */
  text-align: center;
  min-height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* VARIBLES */
:root {
  --primary: #327894;
  --primaryH: #235a70;
  --space: 8px;
  --space2: 16px;
  --light: #eee8dd;
  --arch: "Architects Daughter", cursive;
  --mono: "PT Mono", monospace;
}

.bg {
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: var(--space2);
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hearts {
  position: absolute;
  top: var(--space2);
  right: var(--space2);
  display: flex;

  .heart {
    margin-left: 4px;
  }
}

.content {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.vn {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.character-box {
  height: calc(100% - 40px);
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 0;
  position: absolute;
}

.character {
  height: 100%;
}

.dialog-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: var(--space2) 24px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: -3px;
  height: 120px;
  font-family: var(--arch);
  font-size: 22px;
  color: var(--light);
  line-height: 1.2;
  text-align: left;
  bottom: 40px;
  width: 100%;
}

.next {
  position: absolute;
  right: -4px;
  bottom: -4px;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  height: 32px;
  font-size: var(--space2);
  font-family: var(--arch);
  color: var(--light);
  padding: 8px var(--space2);
}

.action-box {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 100%;
  margin-top: 10%;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: var(--light);

  .action-box__title {
    margin: 0 0 10px 0;
    font-family: var(--arch);
    font-size: 24px;
  }
}



.action-box__btn {
  display: flex;
  flex-direction: column;
}

.action-btn {
  background-color: var(--primary);
  color: var(--light);
  font-family: var(--mono);
  border: none;
  border-radius: var(--space2);
  font-size: var(--space2);
  padding: 4px;
  margin-bottom: var(--space);
  text-transform: uppercase;

  &:hover {
    background-color: var(--primaryH);
  }
}

.timer {
  color: var(--light);
  font-family: var(--mono);
  font-size: 64px;
  margin: 0 0 var(--space) 0;
  width: 100%;
  text-align: center;
}