html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* delete */
	text-align: center;
	min-height: 100vh;
	overflow-y: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}

/* VARIBLES */
:root {
	--primary: #c87c00;
	--space: 8px;
	--space2: 16px;
	--arch: "Architects Daughter", cursive;
	--mono: "IBM Plex Mono", monospace;
}

.bg {
	background: url(/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: var(--space2);
	height: 100vh;
}

.content {
	display: flex;
}

.vn {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.character-box {
	height: calc(100% - 160px);
}

.character {
	height: 100%;
}

.dialog-box {
	position: relative;
	background-color: #fff;
	border: 3px gray solid;
	padding: var(--space2);
	border-radius: 10px;
	margin-top: -3px;
	height: 120px;
	font-family: var(--arch);
	font-size: 22px;
	color: #333;
	line-height: 1.2;
	text-align: left;
}

.next {
	position: absolute;
	right: -10px;
	bottom: -10px;
	background-color: #333;
	border: none;
	height: 32px;
	font-size: var(--space2);
	color: #fff;
	padding: 8px var(--space2);
}

.action-box {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: 100%;
	margin-top: 10%;
	margin-left: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px 10px;
	color: #fff;
}

.action-box__title {
	margin: 0 0 10px 0;
	font-family: var(--mono);
}

.action-box__btn {
	display: flex;
	flex-direction: column;
}

.action-btn {
	background-color: var(--primary);
	color: #fff;
	font-family: var(--mono);
	border: none;
	font-size: 18px;
	padding: 4px;
	margin-bottom: 4px;
}
.action-btn:hover {
	background-color: #9d660b;
}
